# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Ambiente virtual
# =========================
venv/
.env/

# =========================
# Saídas do projeto
# =========================
#saida/
#*.json

# =========================
# Dados de entrada (opcional)
# =========================
#dados/

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# Logs e temporários
# =========================
#*.log
tempCodeRunnerFile.py

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db